/* 
    Document   : dockablepanel
    Created on : 11-mag-2014, 9.39.50
    Author     : f1l0
    Description: DockablePanel stylesheet.
*/
.dockablepanel {
    text-align: center;
}
.dockablepanel .dockablepanel-content {
    text-align: left;
    padding: 15px;
}
.dockablepanel .dockablepanel-header {
    padding: 5px;
}
.dockablepanel .dockablepanel-header:hover {
    cursor: pointer;
}
.dockablepanel,.dockablepanel .dockablepanel-header,.dockablepanel .dockablepanel-header-content { 
    display: inline-block;
}
.dockablepanel .dockablepanel-header-content {
    padding: 0.2em; /*0.3em 0.5em 0.2em;*/
}
.dockablepanel .dockablepanel-header-content .ui-icon, .dockablepanel .dockablepanel-header-content .ui-panel-title {
    display: inline-block;
    vertical-align: middle;
}
.dockablepanel .dockablepanel-header {
    border-top: 1px solid #FFFFFF;
}
.dockablepanel.dockablepanel-top .dockablepanel-header-content .ui-icon, .dockablepanel.dockablepanel-bottom .dockablepanel-header-content .ui-icon {
    padding-right: 5px;
    margin: 0 5px;
    width: 12px;
}

.dockablepanel.dockablepanel-open {     
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

/* Position Top */
.dockablepanel.dockablepanel-top .ui-shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
.dockablepanel.dockablepanel-top {
    position: absolute;
    left: 50%;
    top: 0;
}
.dockablepanel.dockablepanel-top .dockablepanel-content, .dockablepanel.dockablepanel-top .dockablepanel-header {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dockablepanel.dockablepanel-top .dockablepanel-header {
    position: relative;
    top: -1px;
}
/* Position Bottom */
.dockablepanel.dockablepanel-bottom .ui-shadow {
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.8);
}
.dockablepanel.dockablepanel-bottom {
    position: absolute;
    left: 50%;
    bottom: 0;
}
.dockablepanel.dockablepanel-bottom .dockablepanel-content, .dockablepanel.dockablepanel-bottom .dockablepanel-header {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.dockablepanel.dockablepanel-open.dockablepanel-bottom .dockablepanel-header {
    position: relative;
    top: 1px;
}
/* Position Left */
.dockablepanel.dockablepanel-left .ui-shadow {
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.8);
}
.dockablepanel.dockablepanel-left {
    position: absolute;
    top: 50%;
    bottom: 0;
}
.dockablepanel.dockablepanel-left .dockablepanel-content, .dockablepanel.dockablepanel-left .dockablepanel-header {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.dockablepanel.dockablepanel-open.dockablepanel-left .dockablepanel-header {
    position: relative;
    right: 1px;
}
.dockablepanel.dockablepanel-left .dockablepanel-header-content SPAN {
    display: block;
}
.dockablepanel.dockablepanel-left .dockablepanel-header-content .ui-panel-title {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes fadein { /* Firefox */
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity: 0; }
    to { opacity: 1; }
}
@-o-keyframes fadein { /* Opera */
    from { opacity: 0; }
    to { opacity: 1; }
}
