/* 
    Document   : vaccordion
    Created on : 17-mag-2014, 11.13.39
    Author     : f1l0
    Description: Vertical Accordion.
*/

/* vtab */
.vaccordion .vtab {
    width: 14px;
}
.vaccordion .vtab.vtab-close.vtab-notlast {
    border-right: 0;
}
.vaccordion .vtab-content {
    padding: 0.5em 1em;
    vertical-align: top;
    border-left: 0;
    width: 100%;
}
.vaccordion .vtab, .vaccordion .vtab-content {
    display: inline-block;
}
/* Icon */
.vaccordion .vtab .vtab-icon.ui-panel-titlebar-icon {
    margin: 0.2em;
}
.vaccordion .vtab.vtab-icon-top {
    vertical-align: top;
}
.vaccordion .vtab.vtab-icon-middle {
    vertical-align: middle;
}
.vaccordion .vtab.vtab-icon-bottom {
    vertical-align: bottom;
}
/* Header*/
.vaccordion .vaccordion-header {
    margin-bottom: 0.4em;
}
.vaccordion .vaccordion-header .vaccordion-header-title {
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right top;
}
/* Content */
.vaccordion .vaccordion-content {
    display: table;
}
.vaccordion .vaccordion-content > * {
    display: table-cell;
}
.vaccordion .vaccordion-content.ui-panel-content.ui-widget-content {
    padding: 0;
}